@import "@fontsource/montserrat/index.css";

/* NotoSansArmenian Font Face Declarations */
@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Armenian';
    src: url('./assets/fonts/NotoSansArmenian/NotoSansArmenian-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        color: #545454;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: theme("fontFamily.armenian");
}


h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: theme("fontFamily.armenian");
}


h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: theme("fontFamily.armenian");
}

select,
option,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
option:-webkit-autofill,
option:-webkit-autofill:hover,
option:-webkit-autofill:focus,
option:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background:none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background:none;
}

/* blok title  */
/* .sub-title {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 700;
} */

/* .title {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
} */

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}