@import "@fontsource/montserrat/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: theme("fontFamily.sans");
}

.main-title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
}

.main-sub-title {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
}

/* blok title  */
.sub-title {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
    /* @media screen(theme(screens.mobile)) {
        font-size: 14px;
    } */
}

.title {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}